asgiref==3.2.10
bleach==3.3.0
Django==3.1.14
django-markdownify==0.8.1
django-menu-generator==1.1.0
Markdown==3.3.3
Pillow==10.1.0
packaging==20.8
pyparsing==2.4.7
pytz==2020.1
six==1.15.0
sqlparse==0.4.4
tox==3.27.1
webencodings==0.5.1
