{% extends "base.html" %}

{% block content %}
<h1>Self assessment of skills</h1>

<p>Hi there, {{ user_login }}.  {% if latest_assessment %}Your latest record is {{ latest_assessment.date }}.{% else %}We have no records for you.{% endif %}</p>

<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
        {% for form in formset %}
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            {% if form.category_title %}
                <hr>
                <h2>{{ form.category_title }}</h2>
            {% endif %}
            <div class="form-row">
                <div class="form-label">{{ form.title }}</div>
                {% for field in form.visible_fields %}
                    <div class="form-cell">
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    <hr>
    <div><button type="submit">Submit</button></div>
</form>
{% endblock %}