{% extends "base.html" %}
{% load static %}{% load menu_generator %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'skills/style.css' %}">
{% endblock %}

{% block second_level_menu %}
    <div class="menu-bar">
        <div class="menu">
            {% get_menu "NAV_MENU_2ND_LEVEL" as menu %}
            {% for item in menu %}
                <li class="{% if item.selected %} active {% endif %}">
                    <a href="{{ item.url }}"> <i class="{{ item.icon_class }}"></i> {{ item.name }}</a>
                </li>
                {% if item.submenu %}
                    <ul>
                        {% for menu in item.submenu %}
                            <li class="{% if menu.selected %} active {% endif %}">
                                <a href="{{ menu.url }}">{{ menu.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>

        {% if show_team_selector %}
            <div>
                <script>
                    function selectTeam(team_slug) {
                        window.location = '{% url 'skills:set-current-team' '*' %}'.replace('*', team_slug);
                    }
                </script>
                <select onchange="selectTeam(this.options[this.selectedIndex].value);">
                    <option value="{{ MY_TEAMS }}"{% if not request.session.current_team_slug %} selected{% endif %}>Your teams</option>
                    <option value="{{ ALL_TEAMS }}"{% if request.session.current_team_slug == ALL_TEAMS %} selected{% endif %}>All teams</option>
                    <option disabled>&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;&#x2500;</option>
                    {% get_menu "NAV_MENU_TEAM_SELECTOR" as menu %}
                    {% for item in menu %}
                        <option value="{{ item.team_slug }}"{% if item.team_slug == request.session.current_team_slug %} selected{% endif %}>
                            {{ item.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>
{% endblock %}
