{% extends "skills/base.html" %}

{% block content %}
<h1><a href="{% url 'skills:home' %}">Our skills</a> &rarr; {{ person.login }}</h1>

<div class="t-row">
    <div class="t-cell skills-row-header"></div>
    <div class="t-cell skills-column-header skills-cell-right">← Interest</div>
    <div class="t-cell skills-column-header">Knowledge →</div>
</div>

{% for skill in skills %}
    {% if skill.category_title %}
        <hr>
        <h2>{{ skill.category_title }}</h2>
    {% endif %}
    <div class="t-row">
        <div class="t-cell skills-row-header"><a href="{% url 'skills:skill' skill.skill %}">{{ skill.title }}</a></div>
        <div class="t-cell skills-cell-right">
            {% if skill.measurement.interest %}
                <div class="skills-interest-{{ skill.measurement.interest }}">{{ skill.measurement.interest }}</div>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
        <div class="t-cell skills-cell-left">
            {% if skill.measurement.knowledge %}
                <div class="skills-knowledge-{{ skill.measurement.knowledge }}">{{ skill.measurement.knowledge }}</div>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
    </div>
{% endfor %}

<p>{% if latest_assessment %}The latest record for {{ person.login }} is {{ latest_assessment.date }}.{% else %}No records so far.{% endif %}</p>

{% endblock %}
