{% extends "skills/base.html" %}

{% block title %}<a href="{% url 'skills:projects' %}">Projects</a> &rarr; {{ project_title }}{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}

    <div class="t-row">
        <div class="t-cell skills-assess-project-form-label">Name:</div>
        <div class="t-cell skills-assess-project-form-field">{{ project_form.name }}</div>
    </div>
    {% if project_form.name.errors %}
        <div class="t-row">
            <div class="t-cell skills-assess-project-form-label">&nbsp;</div>
            <div class="t-cell skills-assess-project-form-field">{{ project_form.name.errors }}</div>
        </div>
    {% endif %}
    <div class="t-row">
        <div class="t-cell skills-assess-project-form-label">Description:</div>
        <div class="t-cell skills-assess-project-form-field" id="description">{{ project_form.description }}</div>
    </div>
    <div class="t-row">
        <div class="t-cell skills-assess-project-form-label">Active:</div>
        <div class="t-cell skills-assess-project-form-field" id="active">{{ project_form.active }}</div>
    </div>

    {% if teams_formset %}
        <hr>

        <h2>Teams</h2>

        {{ teams_formset.management_form }}

        {% for form in teams_formset %}
            <div class="t-row">
                <div class="t-cell skills-assess-project-form-label">{{ form.name }}</div>
                {% for field in form.visible_fields %}
                    <div class="t-cell skills-assess-project-form-field">{{ field }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

    <hr>

    <h2>Skills</h2>

    {{ formset.management_form }}

    {% for form in formset %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        {% if form.category_title %}
            <h3>{{ form.category_title }}</h3>
        {% endif %}
        <div class="t-row">
            <div class="t-cell skills-assess-form-label">{{ form.title }}</div>
            {% for field in form.visible_fields %}
                <div class="t-cell skills-assess-form-field">
                    {{ field }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    {% if not readonly %}
        <hr>
        <div class="t-row">
            <div class="t-cell"><button type="submit">Submit</button></div>
        </div>
    {% endif %}
</form>

{% endblock %}
