{% extends "skills/base.html" %}

{% block content %}
<h1>Our projects</h1>

<h2>Demand vs. team knowledge</h2>

<div class="t-row">
    <div class="t-cell t-header skills-row-header"><em>How to read this?  See <a href="#howto">below</a>.</em></div>
    <div class="t-cell t-header projects-skill-demand-header skills-cell-right">← Demand</div>
    <div class="t-cell t-header projects-skill-knowledge-header">Team knowledge →</div>
</div>
{% for skill in skills %}
    {% if skill.category_title %}
        <hr>
        <h3>{{ skill.category_title }}</h3>
    {% endif %}
    <div class="t-row">
        <div class="t-cell t-header projects-row-header"><a href="{% url 'skills:skill' skill.skill %}">{{ skill.title }}</a></div>
        {% if skill.bar_length %}
            <div class="t-cell projects-skill-demand-cell">
                <div class="t-cell projects-skill-demand-bar" style="width: {{ skill.bar_length }}%">&nbsp;{{ skill.count }}</div>
            </div>
            <div class="t-cell projects-skill-knowledge-cell">
                {% for level in skill.knowledge %}
                    {% if level %}
                        <div class="t-cell skills-knowledge-{{ forloop.counter }} skills-cell-narrow">{{ level }}</div>
                    {% else %}
                        <div class="t-cell skills-cell-narrow">&nbsp;</div>
                    {% endif %}
                {% endfor %}
                {% if skill.star_knowledge %}
                    <div class="t-cell skills-cell-narrow">&star;</div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endfor %}

<hr>

<h2>Projects</h2>

<div class="t-row">
    <div class="t-cell t-header projects-row-header">Project</div>
    <div class="t-cell t-header projects-skills-column-header">Skills</div>
    <div class="t-cell t-header projects-status-column-header">Active</div>
</div>
{% for project in projects %}
    <div class="t-row">
        <div class="t-cell t-header projects-row-header"><a href="#">{{ project.project.title }}</a></div>
        <div class="t-cell projects-skills-cell">
            {% for skill in project.skills %}
                <span class="projects-project-skill">{{ skill.name }}</span>
            {% endfor %}
        </div>
        <div class="t-cell projects-status-cell">{% if project.project.active %}&#x2714;{% endif %}</div>
    </div>
{% endfor %}

{% endblock %}
