{% extends "base.html" %}

{% block content %}
<h1>Our skills</h1>

<div class="table-row">
    <div class="table-cell-row-header"></div>
    <div class="table-cell-column-header-span">Knowledge</div>
    <div class="table-cell-comment"></div>
    <div class="table-cell-column-header-span">Interest</div>
</div>
<div class="table-row">
    <div class="table-cell-row-header"></div>
    <div class="table-cell-column-header">1</div>
    <div class="table-cell-column-header">2</div>
    <div class="table-cell-column-header">3</div>
    <div class="table-cell-column-header">4</div>
    <div class="table-cell-column-header level-avg">Avg.</div>
    <div class="table-cell-column-header level-avg">Acc.</div>
    <div class="table-cell-comment"></div>
    <div class="table-cell-column-header">1</div>
    <div class="table-cell-column-header">2</div>
    <div class="table-cell-column-header">3</div>
    <div class="table-cell-column-header">4</div>
    <div class="table-cell-column-header level-avg">Avg.</div>
    <div class="table-cell-column-header level-avg">Acc.</div>
</div>
{% for skill in skills %}
    {% if skill.category_title %}
        <hr>
        <h2>{{ skill.category_title }}</h2>
    {% endif %}
    <div class="table-row">
        <div class="table-cell-row-header"><a href="{% url 'skills:skill' skill.skill %}">{{ skill.title }}</a></div>
        {% for level in skill.knowledge %}
            <div class="table-cell-level">{{ level }}</div>
        {% endfor %}
        <div class="table-cell-level level-avg">{{ skill.knowledge_average|floatformat:2 }}</div>
        <div class="table-cell-level level-avg">{{ skill.knowledge_accumulated }}</div>
        <div class="table-cell-comment">{{ skill.comment }}</div>
        {% for level in skill.interest %}
            <div class="table-cell-level">{{ level }}</div>
        {% endfor %}
        <div class="table-cell-level level-avg">{{ skill.interest_average|floatformat:2 }}</div>
        <div class="table-cell-level level-avg">{{ skill.interest_accumulated }}</div>
    </div>
{% endfor %}

{% endblock %}
