{% extends "skills/base.html" %}
{% load markdownify %}

{% block content %}
<h1><a href="{% url 'skills:home' %}">Our skills</a> &rarr; {{ skill.name }}</h1>

<div class="t-row">
    <div class="t-cell skills-row-header"></div>
    <div class="t-cell skills-column-header skills-cell-right">← Interest</div>
    <div class="t-cell skills-column-header">Knowledge →</div>
</div>

<hr>

{% for person in people %}
    <div class="t-row">
        <div class="t-cell skills-row-header"><a href="{% url 'skills:person' person.person.login %}">{{ person.person.login }}</a></div>
        <div class="t-cell skills-cell-right"><div class="skills-interest-{{ person.measurement.interest }}">{{ person.measurement.interest }}</div></div>
        <div class="t-cell skills-cell-left"><div class="skills-knowledge-{{ person.measurement.knowledge }}">{{ person.measurement.knowledge }}</div></div>
    </div>
{% endfor %}

{% if skill.description %}
    <hr>
    {{ skill.description|markdownify }}
{% endif %}

{% endblock %}
