{% extends "base.html" %}
{% load static %}{% load menu_generator %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'people/style.css' %}">
{% endblock %}

{% block second_level_menu %}
    <div class="menu-bar">
        <div class="menu">
            {% get_menu "NAV_MENU_2ND_LEVEL" as menu %}
            {% for item in menu %}
                {% if item.is_person_view and at_person_view %}
                    <div class="active">
                        <a href="{{ item.url }}"> <i class="{{ item.icon_class }}"></i> {{ item.name }}</a>
                    </div>
                {% else %}
                    <div class="{% if item.selected %} active {% endif %}">
                        <a href="{{ item.url }}"> <i class="{{ item.icon_class }}"></i> {{ item.name }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
