{% extends "people/base.html" %}

{% block title %}{{ person.login }}{% endblock %}

{% block content %}

<form method="post" autocomplete="off" id="id_search_form">
    {% csrf_token %}

    <div class="t-row">
        <div class="t-cell autocomplete">{{ search_form.login }}</div>
    </div>
</form>

<div class="t-row">
    <div class="t-cell">Level:</div>
    <div class="t-cell">{{ person.level }}</div>
</div>

<script language="JavaScript">
    // Autocompletion input.  Inspired by https://www.w3schools.com/howto/howto_js_autocomplete.asp
    function setAutocomplete(text_input) {
        var data = [
            {% for person in people %}
            { "login": "{{ person.login }}", "name": "{{ person.full_name}}" },{% endfor %}
        ];
        var currentFocus = -1;

        function matches(value, index) {
            var login = data[index]["login"];
            var name = data[index]["name"];
            return value.toLowerCase() == login.substr(0, value.length).toLowerCase() ||
                name.toLowerCase().search(value.toLowerCase()) >= 0;
        }

        text_input.addEventListener("input", function(e) {
            var value = this.value;
            // Close any already open lists of autocompleted values.
            closeAllLists();

            if (!value)
                return false;

            currentFocus = -1;

            // Create a DIV element that will contain the items (values):
            var a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");

            // Append the DIV element as a child of the autocomplete container:
            this.parentNode.appendChild(a);
            for (var i = 0; i < data.length; i++) {
                if (!matches(value, i))
                    continue;

                var login = data[i]["login"];
                var name = data[i]["name"];

                /*create a DIV element for each matching element:*/
                var b = document.createElement("DIV");

                /*make the matching letters bold:*/
                b.innerHTML = "<strong>" + login.substr(0, value.length) + "</strong>";
                b.innerHTML += login.substr(value.length);

                /*insert a input field that will hold the current array item's value:*/
                b.innerHTML += "<input type='hidden' value='" + login + "'>";

                /*execute a function when someone clicks on the item value (DIV element):*/
                b.addEventListener("click", function(e) {
                    /*insert the value for the autocomplete text field:*/
                    text_input.value = this.getElementsByTagName("input")[0].value;

                    closeAllLists();
                    document.getElementById("id_search_form").submit();
                });
                a.appendChild(b);
            }
        });

        text_input.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x)
                x = x.getElementsByTagName("div");

            if (e.keyCode == 40) {  // Down.
                ++currentFocus;
                addActive(x);
            } else if (e.keyCode == 38) {  // Up.
                --currentFocus;
                addActive(x);
            } else if (e.keyCode == 13) {  // Enter.
                if (currentFocus > -1) {
                    if (x)
                        x[currentFocus].click();
                } else {
                    var login_exists = false;
                    for (i = 0; i < data.length; i++) {
                        if (text_input.value == data[i]["login"]) {
                            login_exists = true;
                            break;
                        }
                    }
                    if (!login_exists)
                        e.preventDefault();
                }
            }
        });

        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x)
                return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);

            if (currentFocus >= x.length)
                currentFocus = 0;
            if (currentFocus < 0)
                currentFocus = (x.length - 1);

            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++)
                x[i].classList.remove("autocomplete-active");
        }

        function closeAllLists(elmnt) {
            // Close all autocomplete lists in the document, except the one passed as an argument:
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != text_input)
                    x[i].parentNode.removeChild(x[i]);
            }
        }

        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    setAutocomplete(document.getElementById("id_login"));
    document.getElementById("id_login").focus();
</script>

{% endblock %}
