{% extends "people/base.html" %}

{% block second_level_menu %}
<form method="post" autocomplete="off" id="id_search_form">
    {% csrf_token %}

    <div class="people-autocomplete">{{ search_form.login }}</div>
</form>
{% endblock %}

{% block title %}{{ person }}{% endblock %}

{% block content %}

<div class="t-row">
    <div class="t-cell">Joined:</div>
    <div class="t-cell">{{ person.join_date }}</div>
</div>

<div class="t-row">
    <div class="t-cell">Level:</div>
    <div class="t-cell">{{ person.level }}</div>
</div>

<div class="t-row">
    <div class="t-cell">Teams:</div>
    <div class="t-cell">{% for team in person.teams.all %}{{ team }}{% endfor %}</div>
</div>

<script language="JavaScript">
    // Autocompletion input.  Inspired by https://www.w3schools.com/howto/howto_js_autocomplete.asp
    function setAutocomplete(text_input) {
        var data = [
            {% for person in people %}
            { "login": "{{ person.login }}", "name": "{{ person.full_name }}" },{% endfor %}
        ];
        var currentFocus = -1;

        // Looks for matches of |value| in data[index], which is a dictionary that has login and name fields.
        // Login and name are matched using different rules (see comments in the code below).
        // If there are matches, returns a user-friendly string that shows the match, otherwise returns false.
        function findMatches(value, index) {
            var login = data[index]["login"];
            var name = data[index]["name"];

            // Login matches if it begins with the value.
            var loginMatch = false;
            if (value.toLowerCase() == login.substr(0, value.length).toLowerCase())
                loginMatch = "<strong>" + login.substr(0, value.length) + "</strong>" + login.substr(value.length);

            // Name matches if it contains the value.
            var nameMatch = false;
            var name_found_index = name.toLowerCase().search(value.toLowerCase());
            if (name_found_index >= 0) {
                nameMatch = name.substr(0, name_found_index)
                                + "<strong>"
                                + name.substr(name_found_index, value.length)
                                + "</strong>"
                                + name.substr(name_found_index + value.length);
            }

            if (!loginMatch && !nameMatch)
                return false;

            return (loginMatch ? loginMatch : login) + "@ " + (nameMatch ? nameMatch : name);
        }

        text_input.addEventListener("input", function(e) {
            var value = this.value;
            // Close any already open lists of autocompleted values.
            closeAllLists();

            if (!value)
                return false;

            currentFocus = -1;

            var dropDownList = document.createElement("DIV");
            dropDownList.setAttribute("id", this.id + "autocomplete-list");
            dropDownList.setAttribute("class", "people-autocomplete-items");

            // Append the DIV element as a child of the autocomplete container:
            this.parentNode.appendChild(dropDownList);
            for (var i = 0; i < data.length; i++) {
                match = findMatches(value, i);
                if (!match)
                    continue;

                var listItem = document.createElement("DIV");
                listItem.innerHTML = match;
                listItem.innerHTML += "<input type='hidden' value='" + data[i]["login"] + "'>";

                // On click, take the value stored in the item and submit the form.
                listItem.addEventListener("click", function(e) {
                    text_input.value = this.getElementsByTagName("input")[0].value;
                    closeAllLists();
                    document.getElementById("id_search_form").submit();
                });
                dropDownList.appendChild(listItem);
            }
        });

        text_input.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x)
                x = x.getElementsByTagName("div");

            switch (e.keyCode) {
            case 40:  // Down.
                ++currentFocus;
                addActive(x);
                e.preventDefault();
                break;
            case 38:  // Up.
                --currentFocus;
                addActive(x);
                e.preventDefault();
                break;
            case 13:  // Enter.
                if (currentFocus > -1) {
                    if (x)
                        x[currentFocus].click();
                } else {
                    var loginExists = false;
                    for (i = 0; i < data.length; i++) {
                        if (text_input.value == data[i]["login"]) {
                            loginExists = true;
                            break;
                        }
                    }
                    if (!loginExists)
                        e.preventDefault();
                }
                break;
            }
        });

        function addActive(x) {
            if (!x)
                return;

            for (var i = 0; i < x.length; i++)
                x[i].classList.remove("people-autocomplete-active");

            if (currentFocus >= x.length)
                currentFocus = 0;
            if (currentFocus < 0)
                currentFocus = (x.length - 1);

            x[currentFocus].classList.add("people-autocomplete-active");
        }

        function closeAllLists(exceptThis) {
            // Close all autocomplete lists in the document, except the one passed as an argument:
            var autocompleteLists = document.getElementsByClassName("people-autocomplete-items");
            for (var i = 0; i < autocompleteLists.length; i++) {
                if (autocompleteLists[i] != exceptThis && exceptThis != text_input)
                    autocompleteLists[i].parentNode.removeChild(autocompleteLists[i]);
            }
        }

        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    setAutocomplete(document.getElementById("id_login"));
    document.getElementById("id_login").focus();
</script>

{% endblock %}
