{% extends "people/base.html" %}
{% load menu_generator %}

{% block title %}Teams{% endblock %}

{% block content %}

{% for team in teams %}
    <div class="people-teams-team">
        <h2><a href="{% url 'people:team' team.slug %}">{{ team }}</a></h2>
        <p>
            <small>
                {{ team.person_set.all|length }} member(s) in this team:
                {% for person in team.person_set.all %}
                <a href="{% url 'people:person' person.login %}">{{ person.login }}</a>
                {% endfor %}
            </small>
        </p>
    </div>
{% endfor %}

{% endblock %}
