.skills-assess-form-label, .skills-assess-project-form-label, .skills-project-row-header, .skills-column-header,
.skills-cell-right, .skills-cell-left{
    width: 30%;
}

.skills-assess-form-field, .skills-project-skill-knowledge-cell, .skills-project-skill-knowledge-header,
 .skills-row-header {
    width: 35%;
}

.skills-project-skills-cell, .skills-project-skills-column-header {
    width: 60%;
}

.skills-assess-project-form-field {
    width: 70%;
}

.skills-project-skills-cell {
    line-height: 180%;
}

.skills-project-status-cell, .skills-project-status-column-header {
    width: 10%;
    text-align: center;
}

.skills-project-skill {
    border: 1px solid black;
    padding: 0px 3px 0px 3px;
    border-radius: 5px;
    white-space: nowrap;
}

.skills-cell-right {
    text-align: right;
}

.skills-cell-left {
    text-align: left;
}

.skills-cell-comment {
    width: 20%;
}

.skills-demand-bar {
    float: right;
    padding: 0px 5px 0px 0px;
    border-radius: 5px 0 0 5px;
    font-weight: bolder;
    /* Material Red A400 */
    background-color: #FF1744;
    color: white;
    text-align: right;
}

.skills-interest, .skills-interest-1, .skills-interest-2, .skills-interest-3, .skills-interest-4 {
    float: right;
    padding: 0px 5px 0px 0px;
    border-radius: 5px 0 0 5px;
    font-weight: bolder;
}

.skills-knowledge-1, .skills-knowledge-2, .skills-knowledge-3, .skills-knowledge-4 {
    border-radius: 0 5px 5px 0;
    padding: 0px 0px 0px 5px;
    font-weight: bolder;
}

.skills-interest-1, .skills-knowledge-1 {
    width: 20%;
}

.skills-interest-1 {
    /* Material Orange A100 */
    background-color: #FFD180;
}

.skills-knowledge-1 {
    /* Material Blue A100 */
    background-color: #82B1FF;
}

.skills-interest-2, .skills-knowledge-2 {
    width: 40%;
}

.skills-interest-2 {
    /* Material Orange A200 */
    background-color: #FFAB40;
}

.skills-knowledge-2 {
    /* Material Blue A200 */
    background-color: #448AFF;
}

.skills-interest-3, .skills-knowledge-3 {
    width: 60%;
}

.skills-interest-3 {
    /* Material Orange A400 */
    background-color: #FF9100;
}

.skills-knowledge-3 {
    /* Material Blue A400 */
    background-color: #2979FF;
}

.skills-interest-4, .skills-knowledge-4 {
    width: 80%;
}

.skills-interest-4 {
    /* Material Orange A700 */
    background-color: #FF6D00;
    color: white;
}

.skills-knowledge-4 {
    /* Material Blue A700 */
    background-color: #2962FF;
    color: white;
}

.skills-cell-narrow {
    width: 20%;
    padding: 0px 5px 0px 5px;
}
