/*
    CSS shared by all applications.  See notes on particular rules.
*/

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

.main-content {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

/* Flex container for the main title and an optional item at the right. */
.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Forms and tables are rendered using DIVs. */
.t-row {
    width: 100%;
    display: table;
}

.t-row-even {
    background-color: #f8f8f8;
}

.t-cell {
    float: left;
    padding: 3px 10px 3px 10px;
    box-sizing: border-box;
}

/* Inputs take all available horizontal space. */
.t-cell > input, .t-cell > textarea, .t-cell > select {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

/* A 'header' cell, either for the row or for the column. */
.t-header {
    font-weight: bolder;
}

/* Menu classes.  Based on the sample given in docs for django-menu-generator. */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.menu li a.active {
    float: right;
}

.active {
    font-weight: bolder;
}

/* Message classes. */
.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.messages li {
    padding: 3px 10px 3px 10px;
}

.messages li.success {
    /* Material Green A400 */
    background-color: #00E676;
}

.permanent-message {
    font-size: smaller;
}
