/*
    CSS shared by all applications.  See notes on particular rules.
*/

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: black;
}

h1 a.right {
    float: right;
    font-size: initial;
}

a:hover {
    color: blue;
}

.main-content {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

/* Forms and tables are rendered using DIVs. */
.t-row {
    width: 100%;
    display: table;
}

.t-cell {
    float: left;
    padding: 3px 10px 3px 10px;
    box-sizing: border-box;
}

.t-cell > input, .t-cell > textarea, .t-cell > select {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.t-header {
    font-weight: bolder;
}

.menu  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.menu li a:hover:not(.active) {
}

.menu li a.active {
    float: right;
}

.active {
    font-weight: bolder;
}
