/*
    CSS shared by all applications.  See notes on particular rules.
*/

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

.main-content {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

/* Forms and tables are rendered using DIVs. */
.t-row {
    width: 100%;
    display: table;
}

.t-cell {
    float: left;
    padding: 3px 10px 3px 10px;
    box-sizing: border-box;
}

.t-cell > input, .t-cell > textarea, .t-cell > select {
    width: 100%;
    box-sizing: border-box;
}
