<!DOCTYPE html>{% load static %}{% load menu_generator %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="main-content">
        <div class="menu">
            {% get_menu "NAV_MENU_TOP" as top_menu %}
            {% for item in top_menu %}
                <li class="{% if item.selected %} active {% endif %}">
                    <a href="{{ item.url }}"> <i class="{{ item.icon_class }}"></i> {{ item.name }}</a>
                </li>
                {% if item.submenu %}
                    <ul>
                        {% for menu in item.submenu %}
                            <li class="{% if menu.selected %} active {% endif %}">
                                <a href="{{ menu.url }}">{{ menu.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>

        <div class="main-header">
            <h1>{% block title %}{% endblock %}</h1>{% block quick_link %}{% endblock %}
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>