<!DOCTYPE html>{% load static %}{% load menu_generator %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="main-content">
        {% block first_level_menu %}{% endblock %}

        {% block second_level_menu %}{% endblock %}

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="main-header">
            <h1>{% block title %}{{ page_title }}{% endblock %}</h1>{% block quick_link %}{% endblock %}
        </div>

        {% if permanent_message %}
            <p class="permanent-message">{{ permanent_message }}</p>
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>