<!DOCTYPE html>{% load static %}{% load menu_generator %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="main-content">
        {% block first_level_menu %}
            <div class="menu-bar">
                <div class="menu">
                    {% get_menu "NAV_MENU_1ST_LEVEL" as menu %}
                    {% for item in menu %}
                        <li class="{% if item.selected %} active {% endif %}">
                            <a href="{{ item.url }}"> <i class="{{ item.icon_class }}"></i> {{ item.name }}</a>
                        </li>
                        {% if item.submenu %}
                            <ul>
                                {% for menu in item.submenu %}
                                    <li class="{% if menu.selected %} active {% endif %}">
                                        <a href="{{ menu.url }}">{{ menu.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endblock %}

        {% block second_level_menu %}{% endblock %}

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="main-header">
            <h1>{% block title %}{{ page_title }}{% endblock %}</h1>{% block quick_link %}{% endblock %}
        </div>

        {% if permanent_message %}
            <p class="permanent-message">{{ permanent_message }}</p>
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>