.ballots-vote-form-label, .ballots-edit-form-label {
    width: 22%;
    font-weight: bolder;
}

.ballots-vote-form-vote {
    width: 26%;
}

.ballots-vote-form-comment, .ballots-edit-form-field {
    width: 78%;
}

.ballots-vote-form-comment > textarea {
    height: 40px;
}
